html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
    font-weight: normal;
    color: white;
  }


/* Nav bar*/
.navBar {
    /*border: 10px solid red;*/
}
.navcontainer {
    /*border: 30px solid gold;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

}

.navicons {
    /*border: 15px solid black;*/
    text-align: center;
}



.navBar a, .footerBar a {
    color:white;
    font-size: 50px;
  }
  
/*page headers*/

.pageheadercontainer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.pageheaders {
    text-align: center;
}

/*form*/

.formelement {
    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.inputFields {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-around;
    height: 450px;
}

.bubbleInput {
    height: 3rem;
    text-align: center;
    border-radius: 25px;
    resize: vertical;
    width: 25vw;
   
}

.bubbleButton, .submit, .clear {
    height: 3rem;
    border-radius: 25px;
    width: 25vw;
   
}
/* footer bar*/

.footerBar {
    /*border: 10px solid red;*/
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.socialMedia {
    /*border: 30px solid gold;*/
    display: flex;
    row;
    flex-wrap: wrap;
    align-content: center;
}
.mediaIcon {
   /* border: 15px solid black;*/
    flex: 1 1 auto;
    text-align: center;
    font-size: 20px;
    color: white;
    align-self: center;
}


  /* Backgrounds */
  .homePage {
    background-image: url("ggbridge3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .aboutPage {
    background-image: url("grand canyon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .contactPage {
    background-image: url("Sunrise.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
  }


  /* change socialmedia based on screen size
  .socialMedia {
  flex-direction: column;
  
  */